body {-webkit-font-smoothing: antialiased; }

@font-face {
    font-family: 'FrutigerLTStd-Bold';
    src: url('../font/frutigerltstdbold.eot');
    src: url('../font/frutigerltstdbold.eot?#iefix') format('embedded-opentype'),
         url('../font/frutigerltstdbold.woff') format('woff'),
         url('../font/frutigerltstdbold.ttf') format('truetype'),
         url('../font/frutigerltstdbold.svg#frutigerltstdbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrutigerLTStd-Roman';
    src: url('../font/frutigerltstdroman.eot');
    src: url('../font/frutigerltstdroman.eot?#iefix') format('embedded-opentype'),
         url('../font/frutigerltstdroman.woff') format('woff'),
         url('../font/frutigerltstdroman.ttf') format('truetype'),
         url('../font/frutigerltstdroman.svg#frutigerltstdroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

div.page
{
  /*-webkit-box-shadow: inset 0px 0px 25px 5px #CCC;
  box-shadow: inset 0px 0px 25px 5px #CCC;*/
  background-image: url('../images/home/bg_top.png'); 
  background-repeat: no-repeat;
  background-position: 0px 35px; 
  background-size: 100% 270px;
  padding-bottom: 60px;
  min-height: 95%;
}

div.page .languageSelect
{
  height: 35px; line-height: 39px;
  display: block;
  /*background-image: url('../images/faq/header.png');*/
  background-color: #9d2383;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0px 24px;
  font-family: 'FrutigerLTStd-Roman';
  font-size: 15px;
  font-weight: 600;
}

div.page .languageSelect a.english {float: right;} 
div.page .languageSelect a.welsh { float: left;}

div#page-menu .header
{
  display: block;
  margin: 30px auto 0 auto;
  background-image: url('../images/home/header_logo.png');
  background-size: 95%;
  background-repeat: no-repeat;
  width: 265px;
  height: auto;
}

div#page-menu .header h2 {
  font-family: 'FrutigerLTStd-Roman';
  text-align: center;
  padding: 65px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  color: #9d3d96;
  text-transform: uppercase;
}

div#page-menu .header h2 span {
  font-weight: 100;
  font-style: italic;
  text-transform: lowercase;
}

div#page-menu .menu
{
  color: #262626;
  position: relative;
  margin-top: 120px;
  left: auto;
  width: 100%;
}

div#page-menu .menu a
{
  display: block;
  /*padding: 10px 10px;*/
  border-bottom: 1px solid #e0e2e3;
  /*background-image: url('../images/home/menu_background.png');*/
  font-size: 13px;
  text-align: left;
}

div#page-menu .menu a .text_wrap
{
  max-width: 272px;
  margin: 0px auto;
  height: 58px;
}

div#page-menu .menu a .text_wrap span {
  color: #352783;
  font-size: 18px;
  float: left;
  font-family: 'FrutigerLTStd-Roman';
  margin-top: 8px;
}

div#page-menu .menu a .text_wrap img {
  float: right;
}

div#page-menu .menu a:first-child
{
  /*border-top-left-radius: inherit;
  border-top-right-radius: inherit;*/
  border-top: 1px solid #e0e2e3;
}

div#page-menu .menu a:last-child
{
  /*border-bottom: none;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;*/
}

div#page-menu .menu .arrow
{
  float: right;
  margin-right: 5px;
  background-image: url('../images/home/menu_arrow.png');
  background-position: right;
  background-size: 100%;
  -webkit-background-size: 100%;
  height: 10px;
  width: 10px;
  margin-top: 3px;
}

div#page-menu .circle
{
  background-image: url('../images/home/circle.png');
  background-size: 100%;
  -webkit-background-size: 100%;
  width: 103px;
  height: 109px;
  position: absolute;
  bottom: 0;
  right: 0px;
  z-index: 100;
}

div#page-menu
{
	text-align: center;
}

div#page-menu .viewcode
{
  margin-top: 20px;
  margin-right: 10px;
  display: inline-block;  
  color: #FFFFFF;
  font-size: 15px;
  background: #9d3d96;
  font-family: 'FrutigerLTStd-Bold';
  padding: 24px 4px;
  font-weight: 600;
  width: 130px;
  text-align: center;
}


div#page-menu .sponsor
{
  background-image: url('../images/home/sponsor.png');
  background-size: 100%;
  -webkit-background-size: 100%;
  width: 90px;
  height: 27.75px;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

div#page-menu .contact
{
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 15px;
  background: #352783;
  font-family: 'FrutigerLTStd-Bold';
  padding: 24px 4px;
  width: 130px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}

div.page-faq .header
{
  height: 35px; line-height: 39px;
  display: block;
  /*background-image: url('../images/faq/header.png');*/
  background-color: #9d2383;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0px 24px;
  font-family: 'FrutigerLTStd-Roman';
  font-size: 15px;
  font-weight: 600;
}

div.page-faq .header a.english {float: right;} 
div.page-faq .header a.welsh { float: left;}

div.page-faq ul
{
  list-style: none;
}

div.page-faq li
{
  margin-top: 7px;
  padding-left: 30px;
  background-repeat: no-repeat;
  font-size: 15px;
  line-height: 16px; 
  background-image: url('../images/codes/bullet-six.png')
}

div.page-faq .header a
{
  line-height: inherit;
}

div.page-faq .header a:first-child
{
  float: left;
}

div.page-faq .header a:last-child
{
  float: right;
}

div.page-faq .title
{
  color: #A54399;
  font-size: 31px;
  margin: 60px 20px 180px 20px;
  text-align: center;
  font-family: 'FrutigerLTStd-Bold';
}

div#page-faq-one .title {
	margin-bottom: 140px;
}

div.page-faq .title.welsh-title1 {
    margin: 60px 20px 200px 20px;
}
div#page-faq-two .title.welsh-title1 {
	margin-bottom: 130px;
}

div.page-faq .body
{
  margin: 0 20px;
  overflow: hidden;
}

div.page-faq .body .text
{
  float: left;
  overflow: hidden;
  line-height: 20px;
  padding-bottom: 20px;
  color: #2A2A2A;
}

div.page-faq .body .text b
{
  color: #333092;
}

div.page-faq .body .text .scrollable
{
  /*height: 140% !important;*/
  font-family: 'FrutigerLTStd-Roman';
  position: relative;
  top: 0;
}

div.page-faq .body .text .scrollable ul
{
  margin-left: 0;
  padding-left: 17px;
}g

div.page-faq .shadow
{
  clear: both;
  margin: 0 auto;
  width: 320px;
  height: 14px;
  background-image: url('../images/faq/shadow.png');
  position: absolute;
  bottom: 33px;
}

div.page-faq .footer
{
  border-top: 1px solid #CCC;
  text-align: center;
  background-color: #EFEFEF;
  bottom: 0;
  left: 0;
  right: 0;
  height: 33px;
  line-height: 33px;
  position: fixed;
  color: #333092;
  font-size: 13px;
  font-family: 'FrutigerLTStd-Roman';
}

div.page-faq .footer b
{
  color: #A54399;
}

div#page-code .header
{
  display: block;
  margin: 30px auto 0 auto;
  background-image: url('../images/home/header_logo.png');
  background-size: 95%;
  background-repeat: no-repeat;
  width: 265px;
  height: auto;
}

div#page-code .header h2 {
  font-family: 'FrutigerLTStd-Roman';
  text-align: center;
  padding: 65px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  color: #9d3d96;
}

div#page-code .menu
{
  /*border: 1px solid #B3B3B3;*/
  /*margin: 0 20px 0 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  padding-top: 1px;*/
  position: relative;
  margin-top: 140px;
  left: auto;
  width: 100%;
  height: 178px;
}

div#page-code .menu a
{
  display: block;
  position: relative;
  padding: 9px 36px 5px 10px;
  border-top: 1px solid #CCC;
  /*background-image: url('../images/home/menu_background.png');*/
  font-size: 13px;
  font-family: 'FrutigerLTStd-Roman';
}

div#page-code .menu a.last
{
  border-bottom: 1px solid #CCC;
}

/*div#page-code .menu a:last-child
{
  border-bottom: none;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}*/

div#page-code .menu .arrow
{
  position: absolute;
  right: 12px;
  top: 7px;
  margin-right: 2px;
  background-image: url('../images/home/menu_arrow.png');
  background-position: right;
  background-size: 100%;
  -webkit-background-size: 100%;
  height: 15px;
  width: 15px;
}

div#page-code .circle
{
  background-image: url('../images/codes/circle.png');
  background-size: 100%;
  -webkit-background-size: 100%;
  width: 79px;
  height: 84px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}

div#page-code .return
{
  display: block;
  position: relative;
  margin: 80px auto 0;
  height: 40px;
  line-height: 40px;
  width: 272px;
  left: 0;
  background-color: #9d2383;
  background-size: 100%;
  -webkit-background-size: 100%;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  font-family: 'FrutigerLTStd-Bold';
}

div.page-code .header
{
  height: 35px; line-height: 35px;
  color: #ffffff;
  padding: 0 15px;
  font-size: 15px;
}

div.page-code a
{
  display: inline-block;
}

div.page-code a:first-child
{
  float: left;
}

div.page-code a:last-child
{
  float: right;
}

div.page-code .section
{
  font-size: 25px;
  margin: 45px 20px 5px 20px;
  font-family: 'FrutigerLTStd-Bold';
  text-align: center;
}

div.page-code .title
{
  font-size: 16px;
  margin: 5px 20px 180px 20px;
  color: rgb(77,77,77);
  font-family: 'FrutigerLTStd-Roman';
  text-align: center;
  font-weight: bold;
}

div.page-code .thismeans
{
  margin: 10px 0 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(77,77,77);
  font-family: 'FrutigerLTStd-Roman';
}

div.page-code .body
{
  margin-right: 20px;
}

div.page-code .body .text
{
  height: 100% !important;
  line-height: 20px;
  overflow: hidden;
}

div.page-code .body .text .scrollable
{
  /*height: 100% !important;*/
  color: rgb(102,102,102);
  padding-left: 20px;
  float:left;
}


div.page-code .body .text .scrollable ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

div.page-code .body .text .scrollable li
{
  margin-top: 7px;
  padding-left: 30px;
  background-repeat: no-repeat;
  font-size: 15px;
  line-height: 16px;
}

div.page-code .shadow
{
  clear: both;
  margin: 0 auto;
  width: 320px;
  height: 14px;
  background-image: url('../images/faq/shadow.png');
  position: absolute;
  bottom: 33px;
}

div.page-code .footer
{
  border-top: 1px solid #CCC;
  background-color: #EFEFEF;
  bottom: 0;
  left: 0;
  right: 0;
  height: 33px;
  line-height: 33px;
  position: absolute;
  color: #333092;
  padding-left: 15px;
  padding-right: 15px;
}

/*The order of first-child and last-child matters, it specifies default behaviour if only one element exists */
div.page-code .footer a:last-child
{
  float: right;
}

div.page-code .footer a:first-child
{
  float: left;
}

div.page-example .body .text
{
  line-height: 120%;
  text-align: left;
}

div.page-code img
{
  float: left;
  margin-left: -20px;
  padding: 10px 10px 10px 0;
  width: 72px;
  height: 125px;
  position: relative;
}

div.page-example .title
{
  font-weight: bold;
}

div.page-example .body .text .scrollable li:first-child,
div.page-example .body .text .scrollable li:nth-child(2)
{
  margin-left: 0px !important;
}

div#page-code-one {background-image: url('../images/codes/bg_top_b.png');}
div#page-example-one {background-image: url('../images/codes/bg_top_b.png');}
div#page-code-one .header, div#page-example-one .header {background: rgb(0,183,175); color: #ffffff; text-transform: uppercase; font-family: 'FrutigerLTStd-Roman'; font-size: 15px; font-weight: 600;}
div#page-code-one .section, div#page-example-one .section {color: rgb(0,183,175);}
div#page-code-one li, div#page-example-one li {background-image: url('../images/codes/bullet-one.png');}
div#page-code-one .footer, div#page-example-one .footer {color: #393939; font-family: 'FrutigerLTStd-Roman';}

div#page-code-two {background-image: url('../images/codes/bg_top_o.png');}
div#page-example-two {background-image: url('../images/codes/bg_top_o.png');}
div#page-code-two .header, div#page-example-two .header  {background: rgb(245,138,31); color: #393939; color: #ffffff; text-transform: uppercase; font-family: 'FrutigerLTStd-Roman'; font-size: 15px; font-weight: 600;}
div#page-code-two .section, div#page-example-two .section  {color: rgb(245,138,31);}
div#page-code-two li, div#page-example-two li  {background-image: url('../images/codes/bullet-two.png');}
div#page-code-two .footer, div#page-example-two .footer  {color: #393939; font-family: 'FrutigerLTStd-Roman';}

div#page-code-three {background-image: url('../images/codes/bg_top_g.png');}
div#page-example-three {background-image: url('../images/codes/bg_top_g.png');}
div#page-code-three .header, div#page-example-three .header  {background: rgb(0,97,114); color: #ffffff; text-transform: uppercase; font-family: 'FrutigerLTStd-Roman'; font-size: 15px; font-weight: 600;}
div#page-code-three .title {margin: 5px 20px 160px 20px;}
div#page-code-three .section, div#page-example-three .section  {color: rgb(0,97,114);}
div#page-code-three li, div#page-example-three li {background-image: url('../images/codes/bullet-three.png');}
div#page-code-three .footer, div#page-example-three .footer {color: #393939; font-family: 'FrutigerLTStd-Roman';}

div#page-code-four {background-image: url('../images/codes/bg_top_gl.png');}
div#page-example-four {background-image: url('../images/codes/bg_top_gl.png');}
div#page-code-four .title, div#page-example-four .title {margin: 5px 20px 160px 20px;}
div#page-code-four .header, div#page-example-four .header {background: rgb(147,200,71); color: #393939; color: #ffffff; text-transform: uppercase; font-family: 'FrutigerLTStd-Roman'; font-size: 15px; font-weight: 600;}
div#page-code-four .section, div#page-example-four .section  {color: rgb(147,200,71);}
div#page-code-four li, div#page-example-four li {background-image: url('../images/codes/bullet-four.png');}
div#page-code-four .footer, div#page-example-four .footer {color: #393939; font-family: 'FrutigerLTStd-Roman';}

div#page-code-five {background-image: url('../images/codes/bg_top_y.png');}
div#page-example-five {background-image: url('../images/codes/bg_top_y.png');}
div#page-code-five .header, div#page-example-five .header {background: rgb(245,138,31); color: #393939; color: #ffffff; text-transform: uppercase; font-family: 'FrutigerLTStd-Roman'; font-size: 15px; font-weight: 600;}
div#page-code-five .section, div#page-example-five .section  {color: rgb(245,138,31);}
div#page-code-five li, div#page-example-five li {background-image: url('../images/codes/bullet-five.png');}
div#page-code-five .footer, div#page-example-five .footer {color: #393939; font-family: 'FrutigerLTStd-Roman';}

div#page-code-six .header, div#page-example-six .header {background: #9d2383; color: #ffffff; text-transform: uppercase; font-family: 'FrutigerLTStd-Roman'; font-size: 15px; font-weight: 600;}
div#page-code-six .section, div#page-example-six .section  {color: #9d2383;}
div#page-code-six .title, div#page-example-six .title {margin: 5px 20px 160px 20px;}
div#page-code-six li, div#page-example-six li {background-image: url('../images/codes/bullet-six.png');}
div#page-code-six .footer, div#page-example-six .footer {color: #393939; font-family: 'FrutigerLTStd-Roman';}

div#page-code-seven {background-image: url('../images/codes/bg_top_g.png');}
div#page-example-seven {background-image: url('../images/codes/bg_top_g.png');}
div#page-code-seven .header, div#page-example-seven .header  {background: rgb(0,97,114); color: #ffffff; text-transform: uppercase; font-family: 'FrutigerLTStd-Roman'; font-size: 15px; font-weight: 600;}
div#page-code-seven .title {margin: 5px 20px 160px 20px;}
div#page-code-seven .section, div#page-example-seven .section  {color: rgb(0,97,114);}
div#page-code-seven li, div#page-example-seven li {background-image: url('../images/codes/bullet-three.png');}
div#page-code-seven .footer, div#page-example-seven .footer {color: #393939; font-family: 'FrutigerLTStd-Roman';}

div#page-contact
{
  color: #434343;
  padding-bottom: 110px;
}

div#page-contact .logo
{
  background-image: url('../images/contact/header.png');
  background-size: 100%;
  -webkit-background-size: 100%;
  width: 160px;
  height: 42.5px;
  margin: 20px 0 0 20px;
}

div#page-contact .circle
{
 background-image: url('../images/contact/circle.png');
 background-size: 100%;
 -webkit-background-size: 100%;
 position: absolute;
 top: 0;
 right: 0;
 width: 114px;
 height: 105px;
}

div#page-contact .title
{
  margin: 20px 0 0 20px;
  color: rgb(51,48,146);
  font-size: 24px;
  font-family: 'FrutigerLTStd-Bold';
}

div#page-contact .statement
{
  margin: 10px 0 10px 20px;
  color: rgb(51,48,146);
  font-size: 16px;
  font-family: 'FrutigerLTStd-Roman';
}

div#page-contact label
{
  width: 100px;
  display: inline-block;
  color: rgb(165,67,153);
  margin-left: 20px;
  margin-top: 3px;
  font-weight: bold;
  font-family: 'FrutigerLTStd-Roman';
}

div#page-contact .address
{
  display: inline-block;
  margin-top: 3px;
  vertical-align: top;
  font-family: 'FrutigerLTStd-Roman';
}

div#page-contact .message
{
  display: block;
  /*background-image: url('../images/contact/button_blue.png');*/
  background: #352783;
  height: 37px; line-height: 37px;
  width: 160px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 12px 0 0 20px;
  font-family: 'FrutigerLTStd-Roman';
}

div#page-contact .map
{
  display: block;
  /*background-image: url('../images/contact/button_purple.png');*/
  background: #9d3d96;
  height: 37px; line-height: 37px;
  width: 160px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 10px 0 160px 20px;
  font-family: 'FrutigerLTStd-Roman';
}

div#page-contact .social
{
  position: absolute;
  top: 560px;
  right: 125px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'FrutigerLTStd-Roman';
}

div#page-contact .facebook
{
  background-image: url('../images/contact/facebook.png');
  background-size: 100%;
  -webkit-background-size: 100%;
  width: 31px;
  height: 30px;
  position: absolute;
  top: 553px;
  right: 75px;
}

div#page-contact .twitter
{
  background-image: url('../images/contact/twitter.png');
  background-size: 100%;
  -webkit-background-size: 100%;
  width: 31px;
  height: 30px;
  position: absolute;
  top: 553px;
  right: 35px;
}

div#page-contact .footer
{
  height: 35px; line-height: 37px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9d2383;
  text-transform: uppercase;
  padding: 0px 24px;
  font-family: 'FrutigerLTStd-Roman';
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

div#page-message .logo
{
  background-image: url('../images/contact/header.png');
  background-size: 100%;
  -webkit-background-size: 100%;
  width: 160px;
  height: 42.5px;
  margin: 20px 0 0 20px;
} /**51.477726,-3.178847 **/

div#page-message .circle
{
 background-image: url('../images/message/circle.png');
 background-size: 100%;
 -webkit-background-size: 100%;
 position: absolute;
 top: 0;
 right: 0;
 width: 114px;
 height: 105px;
}

div#page-message .title
{
  margin: 70px 0 16px 0px;
  color: rgb(165,67,153);
  font-size: 24px;
  text-align: center;
  font-family: 'FrutigerLTStd-Bold';
}

div#page-message .footer
{
  height: 35px; line-height: 40px;
  padding-left: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  background-color: #9d2383;
  text-transform: uppercase;
  font-family: 'FrutigerLTStd-Roman';
  font-size: 15px;
  font-weight: 600;
}

div#page-message .field
{
  /*background-image: url('../images/message/field.png');
  background-position: bottom;
  background-repeat: repeat-x;*/
  min-height: 29px;
  /*border: 1px solid #D5D5D5;*/
  border-top: 1px solid #D5D5D5;
  margin: 0px 0px 0 0px;
  position: relative;
  font-family: 'FrutigerLTStd-Roman';
}

div#page-message .field label
{
  line-height: 29px;
  margin-left: 7px;
  color: rgb(51,48,146);
  vertical-align: top;
  font-family: 'FrutigerLTStd-Roman';
}

div#page-message .field textarea
{
  padding-top: 5px; padding-bottom: 5px;
  border: none;
  padding: 10px 4%;
  width: 92%;
  margin: 0;
  color: #353535;
  background-color: transparent;
  position: absolute;
  /*right: 0;
  top: 0;
  bottom: 0;
  left: 150px;*/
  font-size: 15px;
  font-family: 'FrutigerLTStd-Roman';
  height: 60px;
  color: #352783;
}

div#page-message .field.message
{
 height: 60px;
}

div#page-message .field input[type=text]
{
  margin: 0;
  border: none;
  /*position: absolute;*/
  background-color: transparent;
  /*right: 0;
  top: 0;
  bottom: 0;
  left: 150px;*/
  font-size: 15px;
  padding: 10px 4%;
  width: 92%;
  color: #352783;
  font-family: 'FrutigerLTStd-Roman';
}

/*div#page-message #message-firstname {left: 90px;}
div#page-message #message-lastname {left: 91px;}
div#page-message #message-email {left: 115px;}
div#page-message #message-telephone {left: 150px;}
div#page-message #message-message {left: 75px;}*/

div#page-message #message-send
{
  height: 30px; line-height: 30px;
  width: 90px;
  text-align: center;
  margin: 0px auto 120px auto;
  border: none;
  display: block;
  background: #9d3d96;
  height: 37px;
  line-height: 37px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'FrutigerLTStd-Roman';
}

div.page.contact-walsh .email {font-size: 14px;}

div#page-code-one .welsh-one-title {margin: 5px 20px 180px 20px;}
div#page-code-three .welsh-three-title, div#page-example-three .welsh-three-title  {margin: 5px 20px 180px 20px;}
div#page-code-four .welsh-four-title, div#page-example-four .welsh-four-title  {margin: 5px 20px 180px 20px;}
div#page-code-five .welsh-five-title {margin: 5px 20px 180px 20px;}

@media only screen and (min-width: 357px) {
	div#page-faq-two .title.welsh-title1 { margin-bottom: 170px; }
}
