/* CSS Reset */
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
article, aside, details, figcaption, figure, footer, .header, hgroup, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
a { background-color: transparent; }
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: 0.67em 0; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

/* Fonts
/*---------------------------------------------*/
@font-face {
    font-family: 'Frutiger-Bold';
    src: url('fonts/frutigerltstdbold.eot');
    src: url('fonts/frutigerltstdbold.eot?#iefix') format('embedded-opentype'),
         url('fonts/frutigerltstdbold.woff') format('woff'),
         url('fonts/frutigerltstdbold.ttf') format('truetype'),
         url('fonts/frutigerltstdbold.svg#frutigerltstdbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger-Roman';
    src: url('fonts/frutigerltstdroman.eot');
    src: url('fonts/frutigerltstdroman.eot?#iefix') format('embedded-opentype'),
         url('fonts/frutigerltstdroman.woff') format('woff'),
         url('fonts/frutigerltstdroman.ttf') format('truetype'),
         url('fonts/frutigerltstdroman.svg#frutigerltstdroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Colors
/*---------------------------------------------*/
.purple { background-color: #9D2383; }
.blue { background-color: #352783; }

/* Globals
/*---------------------------------------------*/
* { -moz-box-sizing: border-box; box-sizing: border-box; }
html { -webkit-font-smoothing: antialiased; height: 100%; }
body { font-family: 'Frutiger-Roman', Helvetica, Arial, sans-serif; background-color: #fff; height: 100%; }
.wrapper { width: 100%; max-width: 1000px; position: relative; margin: 0 auto; }
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
input, textarea { -webkit-appearance: none; border-radius: 0; }
.center { text-align: center; }

/* Text
/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 { margin-top: 0; }
h1 { width: 86%; margin: 0 auto 1em; text-align: center; color: #A54399; font-size: 30px; font-family: 'Frutiger-Bold', Helvetica, Arial, sans-serif; }
p { font-size: 16px; margin-top: 0; }
a { text-decoration: none; -webkit-transition: 0.1s; transition: 0.1s; outline: 0; color: #9D2383; }

header { height: 300px; padding-top: 60px; }
.container { padding-top: 36px; text-align: center; background-image: url('images/bg_purple.png'); background-repeat: no-repeat; background-position: top center; -webkit-background-size: 100% 310px; background-size: 100% 310px; height: 100%; }
.content { width: 86%; margin: 0 auto; text-align: left; padding-bottom: 60px; }
.content h2 { line-height: 20px; color: #333092; font-weight: bold; font-size: 16px; }
.content p { line-height: 20px; color: #2A2A2A; }
.return_to_menu { display: block; width: 280px; height: 40px; line-height: 40px; color: #fff; background-color: #9D2383; font-family: 'Frutiger-Bold', Helvetica, Arial, sans-serif; font-weight: 600; margin: 0 auto 60px; border-radius: 5px; text-align: center; }
.code_wrap { margin-bottom: -40px; min-height: 100%; }
.push { height: 40px; }

nav { padding: 11px 25px 6px; text-align: left; position: absolute; top: 0; left: 0; width: 100%; z-index: 2; text-transform: uppercase; font-weight: bold; }
nav a { color: #fff; position: relative; }
nav a.left:before,
nav a.right:after { content: ''; position: absolute; top: 2px; width: 8px; height: 12px; background-repeat: no-repeat; -webkit-background-size: 100%; background-size: 100%; }
nav a.left:before { background-image: url(images/left_arrow.png); left: -16px; }
nav a.right { float: right; }
nav a.right:after { background-image: url(images/right_arrow.png); right: -16px; }
nav.language_select a.left:before,
nav.language_select a.right:after { display: none; }

.landing { padding-top: 10px; }
.landing .logo { width: 120px; margin-bottom: 10px; }
.landing .headings_wrap { height: 225px; }
.landing h1 { font-size: 20px; width: 100%; line-height: 28px; margin-top: 0; }
.landing h1.welsh { margin-bottom: 0; font-weight: 600; }
.landing h1.english { font-weight: 300; height: 140px; font-family: 'Frutiger-Roman', Helvetica, Arial, sans-serif; }
.landing p { color: #666; letter-spacing: 1px; }
.landing p.welsh { font-weight: bold; margin-bottom: 3px; }
.landing .welsh_gov { width: 250px; margin-bottom: 40px; }
.landing .links { width: 260px; margin: 0 auto 20px; }
.landing .links a { display: block; color: #fff; background-image: url('images/button.png'); border-radius: 6px; font-size: 17px; font-weight: bold; height: 35px; line-height: 35px; margin-bottom: 10px; }

.language header { padding-top: 0; }
.language header .logo { width: 250px; margin: 30px auto 8px; }
.language header h1 { margin-bottom: 0; font-size: 20px; color: #9d3d96; text-transform: uppercase; margin-top: 0;}
.language header h1 i { text-transform: none; font-weight: normal; }
.language .links { border-top: 1px solid #e0e2e3; margin-bottom: 20px; }
.language .links a { color: #352783; font-size: 18px; display: block; min-height: 60px; padding: 8px 85px 8px 25px; text-align: left; border-bottom: 1px solid #e0e2e3; background-image: url(images/next_arrow.png); -webkit-background-size: 45px; background-size: 45px; background-repeat: no-repeat; background-position: right 30px center; }
.language .buttons { width: 280px; margin: 0 auto 40px; }
.language .buttons a { display: inline-block; padding: 24px 0; width: 133px; text-align: center; color: #fff; font-size: 15px; font-family: 'Frutiger-Bold', Helvetica, Arial, sans-serif; font-weight: 600; }
.language .buttons a.view_code { margin-right: 14px; }
.language .buttons a.contact_us { margin-left: -5px; }

.contact_us header { padding-top: 20px; }
.contact_us header h1 { color: #333092; font-size: 24px; }
.contact_us header .buttons a { display: inline-block; width: 160px; line-height: 36px; text-align: center; color: #fff; font-weight: bold; margin-bottom: 10px; }
.contact_us .content { padding-bottom: 0; max-width: 300px; }
.contact_us .content p { display: inline-block; vertical-align: top; }
.contact_us .content p strong { display: inline-block; width: 100px; color: #9D2383; }
.contact_us .content address { display: inline-block; margin-bottom: 1em; }
.contact_us .social { margin-bottom: 20px; }
.contact_us .social a { text-indent: -9999px; -webkit-background-size: 30px; background-size: 30px; background-repeat: no-repeat; display: inline-block; width: 30px; height: 30px; }
.contact_us .social a.facebook { background-image: url('images/facebook.png'); margin-right: 6px; }
.contact_us .social a.twitter { background-image: url('images/twitter.png'); }

.send_a_message .content { width: 100%; text-align: center; }
.send_a_message .content .field { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; text-align: left; }
.send_a_message .content .field:first-child { border-top: 1px solid #ccc; }
.send_a_message .content input,
.send_a_message .content textarea { border: 0; padding: 10px 5%; width: 100%; color: #333092; }
.send_a_message .content input.ErrorField,
.send_a_message .content textarea.ErrorField { background-color: rgba(255, 0, 0, 0.2); color: darkred; }
.send_a_message .content textarea { min-height: 100px; }
.send_a_message .content .return_to_menu { margin: 20px auto 40px; }

.introduction .next_page { position: fixed; bottom: 0; left: 0; width: 100%; background-color: #EFEFEF; border-top: 1px solid #ccc; text-align: center; height: 33px; color: #333092; font-size: 13px; line-height: 33px; }
.introduction .next_page strong { color: #A54399; }

.the_code_introduction header { padding-top: 0; }
.the_code_introduction header .logo { width: 250px; margin: 30px auto 8px; }
.the_code_introduction header h1 { margin-bottom: 0; font-size: 20px; color: #9d3d96; margin-top: 0; }
.the_code_introduction .links { border-top: 1px solid #ccc; font-size: 13px; margin-bottom: 20px; }
.the_code_introduction .links a { display: block; position: relative; padding: 9px 36px 5px 10px; color: #2A2A2A; border-bottom: 1px solid #ccc; text-align: left; }
.the_code_introduction .links a span { position: absolute; right: 10px; top: 4px; font-size: 18px; color: #9d3d96; }

.the_code header { padding-top: 45px; }
.the_code header h1 { margin-bottom: 5px; font-size: 25px; margin-top: 0; }
.the_code header h2 { color: #4D4D4D; font-size: 16px; width: 90%; margin: 0 auto 1em; }
.the_code .content { padding-bottom: 20px; }
.the_code .content p { color: #666666; font-size: 15px; line-height: 1.3; margin: 10px 0; font-family: Helvetica, Arial, sans-serif; }
.the_code .content p strong { color: #4D4D4D; }
.the_code .content ul { list-style-type: none; padding: 0; color: #666666; font-family: Helvetica, Arial, sans-serif; }
.the_code .content ul li { font-size: 15px; line-height: 1.3; margin-bottom: 7px; background-repeat: no-repeat; background-position: 0px 3px; padding-left: 30px; }
.the_code .footer { position: relative; background-color: #EFEFEF; border-top: 1px solid #ccc; height: 40px; color: #333092; font-size: 16px; padding-bottom: 11px; }
.the_code .footer a { color: #393939; text-transform: none; font-family: 'Frutiger-Roman', Helvetica, Arial, sans-serif; font-weight: normal; }
.the_code .footer a.left:before { background-image: url(images/left_arrow_black.png); }
.the_code .footer a.right:after { background-image: url(images/right_arrow_black.png); }

.the_code.section_one { background-image: url('images/bg_top_b.png'); }
.the_code.section_one nav.top { background-color: #00B7AF; }
.the_code.section_one h1 { color: #00B7AF; }
.the_code.section_one ul li { background-image: url('images/bullet-one.png'); }

.the_code.section_two { background-image: url('images/bg_top_o.png'); }
.the_code.section_two nav.top { background-color: #F58A1F; }
.the_code.section_two h1 { color: #F58A1F; }
.the_code.section_two ul li { background-image: url('images/bullet-two.png'); }

.the_code.section_three { background-image: url('images/bg_top_g.png'); }
.the_code.section_three nav.top { background-color: #006172; }
.the_code.section_three h1 { color: #006172; }
.the_code.section_three ul li { background-image: url('images/bullet-three.png'); }

.the_code.section_four { background-image: url('images/bg_top_gl.png'); }
.the_code.section_four nav.top { background-color: #93C847; }
.the_code.section_four h1 { color: #93C847; }
.the_code.section_four ul li { background-image: url('images/bullet-four.png'); }

.the_code.section_five { background-image: url('images/bg_top_y.png'); }
.the_code.section_five nav.top { background-color: #F58A1F; }
.the_code.section_five h1 { color: #F58A1F; }
.the_code.section_five ul li { background-image: url('images/bullet-five.png'); }

.the_code.section_six { background-image: url('images/bg_purple.png'); }
.the_code.section_six nav.top { background-color: #9d2383; }
.the_code.section_six h1 { color: #9d2383; }
.the_code.section_six ul li { background-image: url('images/bullet-six.png'); }

.the_code.section_seven { background-image: url('images/bg_top_g.png'); }
.the_code.section_seven nav.top { background-color: #006172; }
.the_code.section_seven h1 { color: #006172; }
.the_code.section_seven ul li { background-image: url('images/bullet-three.png'); }


@media all and (min-width: 480px) {
    .landing .logo { width: 160px; }
    .landing .headings_wrap { height: 200px; }
}
@media all and (min-width: 500px) {
    .the_code_introduction .links a { padding-left: 10%; }
    .the_code_introduction .links a span { right: 10%; }
}
@media all and (min-width: 600px) {
    .the_code_introduction .links a { padding-left: 20%; }
    .the_code_introduction .links a span { right: 20%; }
}
@media all and (min-width: 800px) {
    .the_code_introduction .links a { padding-left: 25%; }
    .the_code_introduction .links a span { right: 25%; }
}
@media all and (min-width: 960px) {
    .the_code_introduction .links a { padding-left: 30%; }
    .the_code_introduction .links a span { right: 30%; }
}